body{
	background:url('images/bg.png') top center;
	margin:0px;
	padding:0px;
	width: 100%;
}

#enter_task{
	background:#E0FFFF;
	width: 550px;
}

.check{
	float:left;
	margin-top: 15px;
	height: 41px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-appearance: none;
	appearance: none;
	text-decoration:none;
	color: #d9d9d9;
}
.check:before{
	content: '+';
	font-size: 28px;
	
	padding: 0 25px 7px;
}
.check:checked:before {
	color: #FF0000;
}
.checkColor{
	color: #FF0000;
}
.checkCheckbox{
	color: #FF0000;
}

.get_task{
	background :#FFFAFA; 
	font-size: 24px;
	width: 520px;
	font-family: inherit;
	line-height: 1.4em;
	padding:15px;
	color:#111;
	border: none;
	margin-top:2px;
}
.activ{
	display:block;
}
.noactiv{
	display:none;
}

.isChecked{
	text-decoration :line-through;
	color:#999;
}
.isntCheck{
	color:#111;
	text-decoration:none;
}
#task{
	background: none;
	font-size: 24px;
	width: 447px;
	font-family: inherit;
	line-height: 1.4em;
	padding:15px;
	color:#999;
	border: none;
	margin-top:2px;
}

input[type="checkbox"],input[type="text"] {
	outline: none;
}
#check_all{
	float:left;
	height: 41px;
	margin-top: 13px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-appearance: none;
	appearance: none;
}
#check_all:before{
	content: '»';
	font-size: 28px;
	color: #d9d9d9;
	padding: 0 25px 7px;
}
#check_all:checked:before {
	color: #FF0000;
}

a{
	text-decoration: none;
	color: #999;
	font-size: 18px;
	font-weight: bold;
	padding-right:10px;
}
a.active{
	color: #222;
}




#myContainer2{
	float: left;
padding-left: 20px;
}
/*
#check:checked ~ #get_task {
  text-decoration: line-through;
}*/